@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  font-family:"Bai Jamjuree", sans-serif; 
}


.hero-container{
  background-image:url('../../public/hero-background.png') ;
  background-size: cover;
  background-position: 50%;
  height: 900px;
  width: auto ;
  
}
.about-container{
  background-image: linear-gradient(to top, rgb(0,0,0,0.7),rgb(0,0,0,0.4)), url('https://get.wallhere.com/photo/1920x1080-px-black-car-Lamborghini-rims-1069726.jpg');
  width: 100%;
 height: auto ;
 background-size: cover;
position: relative;
 bottom: 18px;


}
.road-map-container{
  background-image: linear-gradient(180deg, #000000 , rgba(0, 0, 0, 0.61) , #000000 ), url('../../public/roadmap.jpg');
  
  width: 100%;
 height: 1024px ;
 background-size: cover;
position: relative;
 bottom: 18px;


}
.accumulate{
  background-image: linear-gradient(180deg, #000000 , rgba(0, 0, 0, 0.61) , #000000 ), url('../../public/accumulate.jpg');
  
  width: 100%;
 height: auto ;
 background-size: cover;
 background-position: 30%;


}





.custom-color{

  color: #BC000D;
}
.custom-bg{
  background-color:  #FF0000;
  ;
}
.welcom-container{
  background-color: rgba(0, 0, 0, 0.981);
  color: white;
  height: 860px;
  
 
}
.member-res{
  position: relative;
  bottom: 80px;
}

.member{
  background: linear-gradient(176.13deg, rgba(0, 0, 0, 0.115) -79.58%, rgba(188, 0, 13, 0.46) 56.68%);


}
.l-featured{
  background-color: rgba(0, 0, 0, 0.92);
  
}
.we-offer{
  background-image: url('../../public/weoffer.png');
   width: 100%;
  height: 690px ;
  background-size: cover;
  background-position: 40%;
 position: relative;
  bottom: 18px;
  
 
}

.offer-text{

  position: relative;
  left: 460px;
  bottom: 160px;
}
.our-gallery{
  position: relative;
  bottom: 18px;
}

.chose-us{
  background-image: linear-gradient(to top, rgb(0,0,0,0.7),rgb(0,0,0,0.4)), url('../../public/choose-us.jfif');
   width: 100%;
  height: 803px ;
  background-size: cover;
 position: relative;
  bottom: 18px;
  
 
}
.choose{
  position: relative;
  top: 450px;
}
.testimonial{
  position: relative;
  bottom: 18px;
}

.footer{
  background-image: linear-gradient(to top, rgb(0,0,0,0.7),rgb(0,0,0,0.4)), url('../../public/footer.jfif');
 background-size: cover;
 background-position: 80%;
position: relative;
 bottom: 18px;

}
.bg-f-i{
  background: #CC0000;

}

/* custom Responsive Query */

@media (max-width: 500px) {
  .custom-text-big{
font-size: x-large;

  }
  .hero-sm-text{
    position: relative;
    right: 30px;

  }
  .member-res{
    font-size: 40px;
    margin-top: 8px;

  }
  .wlc-icon-res {
    position: absolute;
    right: 60px;
bottom: 88px;
  }
  .we-offer {
    height: auto;
    padding-bottom: 60px;
  }
 
 .offer-item{

  position: relative;
  bottom: 200px;
 }
 .chose-us{
  height: 1000px;
 }
 .choose-text{
  position: relative;
  bottom: 400px;
 }
 .social{
  position: relative;
  right: 250px;
  top: 180px;
 }
 .footer-item {
  position: relative;
  right: 60px;
 }
 
 .gallery-clip{

  position: relative;
  left: 90px;
 }
 .arrow{

  height:100px;
  width: 100px;
 }
      
  }